.twenty48 {
  margin: calc(var(--pixel-size) * 0) auto;
  width: 100%;
  align-items: center;
}

.twenty48 > main {
  display: grid;
  flex: 2;
  grid-template-columns: repeat(100, 1fr);
  gap: 16px;
  margin: 0;
  margin-top: calc(var(--pixel-size) * 31); 
  width: 100%;
  justify-items: center;
  border-style: dotted;
  border-color: blue;
}

.twenty48 > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pixel-size) * 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visual separation */
}

.twenty48 > header > * {
  flex: 1;
}
